.slider{
position:relative;
display:flex;
align-items:center;
}

.trending-row{

display:flex;

overflow-x:auto;

gap:20px;

padding:20px;

scroll-behavior:smooth;

}

.trending-row::-webkit-scrollbar{
display:none;
}

.movie{

min-width:150px;

background:#1e293b;

padding:10px;

border-radius:10px;

text-align:center;

flex:0 0 auto;

}

.movie img{
width:100%;
border-radius:8px;
}

.arrow{

position:absolute;

background:rgba(0,0,0,0.6);

color:white;

border:none;

font-size:30px;

cursor:pointer;

padding:10px;

z-index:10;

}

.left{
left:0;
}

.right{
right:0;
}